// SPDX-License-Identifier: GPL-2.0+
/*
 * IBM Genesis3
 *
 * Copyright (C) 2022 9elements GmbH
 */

#include "ast2500-evb.dts"

/ {
	model = "IBM Genesis3";
	compatible = "ibm,genesis3-bmc", "aspeed,ast2500";
};

&spi1 {
	status = "disabled";
};

&fmc {
	flash@0 {
		status = "okay";
	};

	flash@1 {
		status = "okay";
	};
};

